@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
* {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 25px;
}
header {
    display: flex;
    align-items: center;
    background-color: red;
}
header img {
    width: 50px;
    height: 40px;
}
main {
    font-size: 18px;
    background-image: url(img/bers.png);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh; 
}
main button {
    padding: 6px;
    border: solid gray 3px;
    background-color: black;
    color: white;
}
main img {
    height: 400px;
    width: 100%;
}
main .imghis {
    display: flex;
    justify-content: center;
}
main .sechis {
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
    width: 60%;
    margin-top: 10px;
}
@media (max-width: 600px) {
    main img {
        width: 80%;
    }
    main .sechis {
        width: 100%;
    }
}
@media (max-width: 600px) {
    main img {
        width: 100%;
    }
}